<div id="shopify-section-[id]" class="shopify-section slideshow">
  [See if anything shows up here]
  <div class="grid">
    {% for block in section.blocks %}
      <div class="grid-item">
        {% if block.type == 'block-2' %}
          <div id="box" class="new-product">
            <h2>{{block.settings.title}}</h2>
            <h3>"{{block.settings.description}}"</h3>
          </div>
        {% elsif block.type == 'block-1' %}
          <div id="box" class="campaign">
            <h2>{{block.settings.title}}</h2>
            <h3>"{{block.settings.description}}"</h3>
          </div>
        {% else block.type == 'block-3' %}
          <div id="box" class="news">
            <h2>{{block.settings.title}}</h2>
            <h3>"{{block.settings.description}}"</h3>
          </div>
        {% endif %}
    {% endfor %}
      </div>
</div>

{% schema %}
  {
    "name": "Multiple Blocks",
    "blocks": [
      {
        "type": "block-1",
        "name": "Campaign",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Campaign, New Product, or News?"
          },
          {
            "id": "description",
            "type": "textarea",
            "label": "Description",
            "default": "Tell us a little more about it."
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured",
            "default": false,
            "info": "A featured item will appear first in the carousel."
          }
        ]
      },
      {
        "type": "block-2",
        "name": "New Product",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Campaign, New Product, or News?"
          },
          {
            "id": "description",
            "type": "textarea",
            "label": "Description",
            "default": "Tell us a little more about it."
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured",
            "default": false,
            "info": "A featured item will appear first in the carousel."
          }
        ]
      },
      {
        "type": "block-3",
        "name": "News",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Campaign, New Product, or News?"
          },
          {
            "id": "description",
            "type": "textarea",
            "label": "Description",
            "default": "Tell us a little more about it."
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured",
            "default": false,
            "info": "A featured item will appear first in the carousel."
          }
        ]
      }
    ]
  }
{% endschema %}

{% style %}
  .grid {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
  }
  .campaign h2 {
    color: red;
  }
  .new-product h2 {
    color: blue;
  }
  .news h2 {
    color: green;
  }
  #box {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 2px 2px antiquewhite;
  }
  .grid-item {
    margin-right: 24px;
  }
  .grid-item:last-of-type {
    margin-right: 0px;
  }
{% endstyle %}


